* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.open-box {
  width: 100%;
  min-height: 100vh;
  padding: 40px 0 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
  background-image: url("./images/bg-1.jpg");
  background-size: cover; /* Makes sure the background image covers the entire area */
  background-position: center; /* Centers the background image */
}

.open-box h1 {
  color: #fff;
}

.footer-open {
  position: relative;
  bottom: 0;
  z-index: 99999;
}

.manten-1 {
  position: absolute;
  bottom: 0;
  width: 120px;
  right: 0;
}

.manten-2 {
  position: absolute;
  bottom: 0;
  width: 120px;
  left: 0;
}

.manten-3 {
  position: absolute;
  top: 0;
  width: 70px;
  left: 0;
}
.manten-4 {
  position: absolute;
  top: 0;
  width: 70px;
  right: 0;
}

.open-box.hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none; /* Prevents interaction with the hidden element */
}

.invitation-box {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.invitation-box.show {
  display: block;
  opacity: 1;
}

.page {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.page-1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* display: none; */
}

.page-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.page-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: -1;
}

.text-light {
  color: #6b1307;
}

.countdown {
  display: flex;
  color: #6b1307;
}

.timer {
  font-size: 24px;
  margin: 0 20px;
}

.timer span {
  font-size: 14px;
}

.page-2 {
  background-color: #6190af;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.page-5 {
  background-color: #6190af;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-4 {
  background-color: #6190af;
  padding: 20px;
  position: relative;
}

.page-3 {
  padding: 40px 20px;
  /* min-height: 100vh; */
  position: relative;
}

.page-6 {
  padding: 40px 20px;
  /* min-height: 100vh; */
  position: relative;
}

.box-manten {
  background-color: #f8f8f8;
  width: 100%;
  min-height: 100vh;
  border-radius: 10px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #f8f8f8;
  width: 100%;
  border-radius: 10px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-open {
  font-family: "Roboto Slab", Sans-serif;
  font-size: 13px;
  font-weight: 600;
  fill: #6b1307;
  color: #6b1307;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  border-style: double;
  border-width: 1px 1px 1px 1px;
  border-color: #6b1307;
  border-radius: 27px 27px 27px 27px;
  box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.1);
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  z-index: 1;
}

.btn-save {
  margin: 10px 0;
  font-family: "Roboto Slab", Sans-serif;
  font-size: 13px;
  font-weight: 600;
  fill: #6b1307;
  color: #6b1307;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  border-style: double;
  border-width: 1px 1px 1px 1px;
  border-color: #6b1307;
  border-radius: 27px 27px 27px 27px;
  box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.1);
  padding: 15px 25px 15px 25px;
  z-index: 1;
}

.box-gift {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the image */
}
.box-gift img {
  width: 100%;
  display: block;
}

.btn-copy {
  cursor: pointer;
  margin: 6px 0;
  font-family: "Roboto Slab", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  fill: #6b1307;
  color: #6b1307;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  border-style: double;
  border-width: 1px 1px 1px 1px;
  border-color: #6b1307;
  border-radius: 27px 27px 27px 27px;
  box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

.circle-audio-player {
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid #6b1307;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* .circle-audio-player.playing {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.controls {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playPauseBtn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #6b1307;
  border-radius: 50%;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

button.play::before {
  content: "▶";
  font-size: 13px;
  color: #fff;
}

button.pause::before {
  content: "❚❚";
  font-size: 14px;
  color: #fff;
}

.menu-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #feeaea;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  position: relative; /* For absolute positioning of the pseudo-element */
  overflow: hidden;
}

.menu-item:last-child {
  margin-right: 0px;
}
.menu-item.inactive {
  background-color: transparent !important;
}
.menu-item.inactive svg {
  color: #000 !important;
}
.menu-item.inactive .menu-item__text {
  min-width: 0px;
  opacity: 0;
  font-size: 0px;
}
.menu-item.active {
  background-color: #fffefe;
  color: #6b1307;
  transform: scale(1.1);
}
.menu-item__text {
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  font-weight: 600;
  transition: opacity 0.3s ease;
}
.menu-item__icon {
  display: inline-block;
  text-align: center;
  font-size: 0px;
}
.menu-item__icon svg {
  height: 20px;
  width: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
